<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication2">

        <!-- Launcher Activity: android:exported="true" 필수 -->
        <activity
            android:name=".ChallengeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- EndActivity -->
        <activity
            android:name=".EndActivity"
            android:exported="false" />

        <!-- AfterActivity -->
        <activity
            android:name=".AfterActivity"
            android:exported="false" />

        <!-- WriteActivity -->
        <activity
            android:name=".WriteActivity"
            android:exported="false" />

    </application>
</manifest>
